# Logs
logs
*.log
npm-debug.log*
lerna-debug.log*

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
flow-coverage
lib-cov
coverage
.nyc_output
*.lcov

# Bundles
bundle/
build/
dist/
dist-*/
target/
typings/
flow-typed/
buildstamp.json

# Docs
docs
doc

# Deps
node_modules
jspm_packages
bower_components
npm-shrinkwrap.json

#IDE
.idea
.idea/

.npm
.eslintcache
.node_repl_history
.env

# Typescript
*.tsbuildinfo
.tsbuildinfo
buildcache
.buildcache

# Microbundle cache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Temp
test/renderer/eleventy/temp
test-output

# Code Climate
cc-reporter
cc-reporter.*
codeclimate.*
coverage.*

# Creds
*.asc
*.key
*.pem
*.cert
