body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
}
ul {
    list-style-type: none;
    padding: 0px;
}
.link {
    color: black;
    text-decoration: none;
}
li {
    margin: 5px;
    padding: 5px 10px;
}

li:hover {
    background-color: rgba(187, 187, 187, 0.26);
    border-radius: 20px;
}
* {
    font-family: "Museo Sans", sans-serif;
    color: #333;

    line-height: 1.6333;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    flex: 1;
}
.tile{
    margin: 20px;
}
footer {
    text-align: center;
}
