---
layout: page.njk
---

{% set bootScript %}
  {% makeBootScript settins, collections.entries %}
{% endset %}

<svg id="radar"></svg>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ '/radar.js' | url }}"></script>
<script>
  {{ bootScript | jsmin | safe }}
</script>

<table>
  <tr>
    <td>
      <h3>Что такое технический радар?</h3>
      <span>Технологический радар – это удобный инструмент, который помогает компании управлять своей платформой разработки и технологической стратегией.
      <br>Инструмент объединяет используемые технологии в четыре категории: (1) техники, (2) языки и фреймворки, (3) инструменты и (4) платформы.
      Каждая из этих областей подразделяется на 4 кольца:</span>
      <ul>
        <li><strong>ADOPT</strong> &mdash; Технологии в которых мы уверены, рекомендованы к широкому использованию в QIWI, соответствует культуре и целям компании.</li>
        <li><strong>TRIAL</strong> &mdash; Молодые технологии используемые в некоторых реальных проектах, для оценки рисков перед широким использованием. </li>
        <li><strong>ASSESS</strong> &mdash; Многообещающие технологии, потенциально имеющие ценность. Такие технологии имеют более высокие риски; они часто являются совершенно новыми и в значительной степени не проверены в нашей компании.</li>
        <li><strong>HOLD</strong> &mdash; Технологии, которые не рекомендуется использовать для новых проектов, но, как правило, их можно продолжать использовать в существующих проектах.</li>
      </ul>
    </td>
    <td>
        <h3>Цели технического радара</h3>
        <ul>
            <li>Держать под контролем свои компетенции. Подготовка радара это анализ происходящего. Это способ посмотреть в какую сторону движется рынок и как общие тренды соотносится с технологиями, которые применяются в проектах. Так сразу становится понятно, где развитие компании идёт достаточными темпами, а какие темы стоит подтянуть. </li>
            <li>Принимать правильные архитектурные решения. У команд появляется источник информации о том, какие решения рекомендуется использовать для тех или иных целей.</li>
        </ul>
        <h3>Как поддерживается радар?</h3>
        <span>Технический радар поддерживается нашими главными разработчиками, которые способствуют обсуждению выбора технологий. Присвоение технологий кольцам является результатом предложений по замене кольца, которые обсуждаются. Технический радар открыт для участия всех команд в QIWI и зависит от их активного участия в обмене извлеченными уроками, ошибками и внесении вклада в передовой опыт использования технологий.</span>
    </td>
  </tr>
</table>
