---
title: QIWI JavaScript Tech Radar — 2021.06
layout: page.njk
---

{% set bootScript %}
  {% makeBootScript title, settins, collections.entries %}
{% endset %}

<svg id="radar"></svg>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ '/radar.js' | url }}"></script>
<script>
  {{ bootScript | jsmin | safe }}
</script>

<table>
  <tr>
    <td>
      <h3>Обозначения Радара</h3>
      <ul>
        <li><strong>ADOPT</strong> &mdash; Высокая уверенность в технологии, рекомендация к использованию в QIWI, соответствует культуре и целям компании.</li>
        <li><strong>TRIAL</strong> &mdash; Используем в реальных проектах, но внимательно оцениваем риски перед широким использованием т.е. используем с ограничениями (пока еще мало в проде). Большая вероятность что технология перейдет в Adopt, но на данный момент еще слишком молодая.</li>
        <li><strong>ASSESS</strong> &mdash; Пытаемся понять, делаем прототипы и PoC, инвестирует. Является ли технология лучшей альтернативой, должна ли использоваться шире и стать частью Adopt.</li>
        <li><strong>HOLD</strong> &mdash; Пробовали использовать и после этого переместилось сюда либо технология нам не подходит.</li>
      </ul>
    </td>
  </tr>
</table>
