---
layout: page.njk
---

{% set bootScript %}
  {% makeBootScript settings, collections.entries %}
{% endset %}

<svg id="radar"></svg>

<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="{{ '/' + settings.extra.basePrefix + '/radar.js' }}"></script>
<script>
  {{ bootScript | jsmin | safe }}
</script>

<table>
  <tr>
    <td>
      <h3>Технологический радар</h3>
      <span>Удобный инструмент, помогающий компании управлять своей платформой разработки и технологической стратегией.
      Радар объединяет используемые технологии в четыре категории: техники, языки и фреймворки, инструменты и платформы.
      Каждая из этих областей ранжируется по стадии внедрения:</span>
      <ul>
        <li><strong>ADOPT</strong> &mdash; технологии, в которых мы уверены, и рекомендованы к широкому использованию в QIWI, соответствуют культуре и целям компании.</li>
        <li><strong>TRIAL</strong> &mdash; новый стек, используемый лишь в отдельных проектах для оценки рисков перед массовым внедрением.</li>
        <li><strong>ASSESS</strong> &mdash; блидин эдж, ёрли превью, всякие экспериментальные штуки, потенциально имеющие ценность.</li>
        <li><strong>HOLD</strong> &mdash; депрекейтед легаси. Отжившие свой век технологии, которые которые не рекомендуется использовать для новых проектов, но допустимо сохранять в старых.</li>
      </ul>
    </td>
    <td>
        <h3>Цели</h3>
        <ul>
            <li>Держать под контролем свои компетенции. Подготовка радара — это анализ происходящего — способ посмотреть в какую сторону движется индустрия, и как общие тренды соотносится с нашим зоопарком. </li>
            <li>Принимать правильные архитектурные решения. У команд появляется источник информации о том, какие решения рекомендуется использовать для тех или иных целей.</li>
        </ul>
        <br/>
        <br/>
        <h3>Наполнение</h3>
        <span>Технический радар поддерживается разработчиками в формате холивара. В нем отражены наши стремления, успехи и ошибки.</span>
    </td>
  </tr>
</table>
{% if settings.extra.footer %}
  {{ settings.extra.footer | safe }}
{% else %}
  {% include 'footer.njk' %}
{% endif %}
