<!DOCTYPE html>
<html>
    <head>
        <title>test</title>
        <meta charset="utf-8">
        <style>
            body {
                font-family: Helvetica, Arial;
                display: block;
                max-width: 1000px;
                margin: 0 auto;
            }
            .title {
                font-size: 20pt;
                margin: 25px 0;
            }
            .date {
                padding: 0;
                font-size: 12px;
                margin: -23px 0 40px 0;
                display: block;
                color: #999;
            }
            header, main, {
                display: inline-block;
            }
            header, main, table, tbody, thead {
                width: 100%;
                margin: 0;
                padding: 0;
            }
            table {
                border-spacing: 0;
                font-size: 13px;
            }
            th, td {
                padding: 0 30px 15px 0;
                margin: 0;
                text-align: left;
                vertical-align: top;
            }
            th {
                font-weight: normal;
                padding-bottom: 20px;
                color: #999;
            }
        </style>
    </head>
    <body>
        <header>
            <h1 class="title">QIWI iOS Tech Radar</h1>
            <p class="date">2022-01-21</p>
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ring</th>
                        <th>Quadrant</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                {% for entry in settings.data %}
                    <tr>
                        <td><b>{{ entry.name | safe }}</b></td>
                        <td>{{ entry.ring | safe }}</td>
                        <td>{{ entry.quadrantTitle | safe }}</td>
                        <td>{{ entry.description | safe }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </main>
            <footer>
                {% if settings.extra.footer %}
                    {{ settings.extra.footer | safe }}
                {% else %}
                    {% include 'footer.njk' %}
                {% endif %}
            </footer>
    </body>
</html>
